:root {
  --color-lila: #9B59B6;
  --color-turquesa: #1ABC9C;
  --color-naranja: #E67E22;
  --color-texto: #000000;
}

body {
  background-color: var(--color-lila);
  color: var(--color-texto);
  font-family: Arial, sans-serif;
}

header {
  background-color: var(--color-turquesa);
  padding: 20px;
}

button {
  background-color: var(--color-naranja);
  color: var(--color-texto);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-turquesa);
  color: white;
}
